@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin-top: 0;
  margin-bottom: 5px;
}

.ant-select-multiple .ant-select-selection-item {
  height: 27px;
}